@import "vars";

/*Blocks*/
@import "container";
@import "header";
@import "intro";
@import "sup-inner";
@import "about";
@import "work";
@import "team";
@import "comments";
@import "contacts";
@import "footer";

body{
    margin: 0;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

